site_name: "ELIXIR-GOBLET Train-the-Trainer: Using Learning Management Systems and e-Learning Platforms for Training"
nav:
    - About: index.md
    - Course Content:
      - "1. Introduction to e-Learning Platforms for training delivery": chapters/chapter_01.md
      - "2. Designing interactive tutorials with e-Learning Platforms": chapters/chapter_02.md
      - "3. Showcase sessions through LMS": chapters/chapter_03.md
      - "4. Developing interactive exercises for skill application": chapters/chapter_04.md
      - "5. Assessment and evaluation within e-Learning Platforms": chapters/chapter_05.md
      - "6. Conclusion and next steps": chapters/chapter_06.md
      - "References": chapters/references.md
    - "Follow up training": follow_up_training.md

theme:
  name: material
  logo: assets/images/white-orange-logo.png
  favicon: assets/images/elixir_favicon.ico
  custom_dir: overrides
  features:
    - navigation.top
    - navigation.footer
    - toc.integrate
  font: 
    text: Lato

# Repository
repo_name: elixir-europe-training/ELIXIR-TrP-TtT-Using-LMSs-eLPs-for-Training
repo_url: https://elixir-europe-training.github.io/ELIXIR-TrP-TtT-Using-LMSs-eLPs-for-Training
edit_uri: edit/main/docs/

plugins:
  - tags:
      tags_file: keywords.md
  - search
  - bibtex:
      bib_file: "references.bib"
  - mkdocs-video # embed videos to the docs

  
# Footer
copyright: By the ELIXIR Training Platform

markdown_extensions:
  - abbr
  - def_list
  - footnotes
  - tables
  - admonition
  - codehilite:
      guess_lang: false
  - sane_lists
  - smarty
  - toc:
      toc_depth: 3
  - pymdownx.superfences
  - attr_list
  - pymdownx.tabbed
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - neoteroi.cards
  - addbioschemas

extra_css:
  - stylesheets/extra.css
  - stylesheets/neoteroi-mkdocs.css
